:root{

}

html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: "Titillium Web", sans-serif;
  user-select: none !important;
}

body {
  display: flex;
  flex-direction: column;
}

h1 {
  text-align: center;
}

header,
footer {
  z-index: 1;
  background-color: #0a304e;
}

header,
footer,
.card {
  box-shadow: 0px 0px 15px gray;
}

header {
  height: 3%;
}

footer {
  height: 12%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

footer > div {
  color: white;
  font-size: 5vh;
  font-weight: 500;
  margin: 32px;
  display: flex;
  align-items: center;
}

footer > div#date-time{
  color: white;
  font-size: 3.5vh;
  font-weight: lighter;
  margin: 32px;
  display: flex;
  justify-content: flex-start;
}

main {
  display: flex;
  background-color: #cccccc;
  height: 85%;
  justify-content: space-around;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.card {
  flex-grow: 1;
  background-color: white;
  z-index: 2;                  /*padding-left, padding-right: 0.25rem */
  margin-left: 1rem;
  margin-right: 1rem;
  padding: 1rem;
}

.card-content{
  height: 85%;
  width: 100%;
}

.google-slides{
  height: 100%;
  width: 100%;
}

.floor-1,
.floor-2,
.floor-3,
.floor-4,
.floor-5,
.floor-6,
.floor-7 {
  display: none;
}

/*for floor 6 presentation*/
.center-content-6{
  max-height: 900px; 
  max-width: 1200px;
  justify-content: center;
  /* align-items: center; */
  padding: 0.5rem;
  bottom: 50px;

}

.center-iframe {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%; /* Ensure the iframe takes up the full height of the card-content div */
}

/*for floor 5 and 6 flyers*/
.floor-5-6-flyers{
  /* max-height: 600px;  */
  max-width: 400px;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;

}

.floor-5-activities{
  max-width: 700px; 
}

.airtable-embed {
  height: 100% !important;
}

.welcome-sign-h1 {
  background-color: #003071;
  color: white;
  text-align: center;
  font-family: "Titillium Web", sans-serif;
  font-size: 4rem;
  padding: 4rem;
  /* Add any other styling as needed */
}

.welcome-sign-h2 {
  background-color: #003071;
  color: white;
  text-align: center;
  font-family: "Titillium Web", sans-serif;
  font-size: 2rem;
  padding: 4rem;
  /* Add any other styling as needed */
}